@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.Extensions.DependencyInjection

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Izvinite, na ovoj putanji ne mozete pronaci nista.</p>
        </LayoutView>
    </NotFound>
</Router>
